$main-font: 'Gotham SSm A','Gotham SSm B',Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;

.section-a {
  padding: 3px;
  padding-left: 10px;
  margin-top: 0;
}

.profile-frame {
  max-width: 274px;
  max-height: 274px;
  border: 2px solid #453d28bf;
  padding: 80px;
  margin: 30px auto;
  margin-top: 50px;
  border-radius: 50%;
  position: relative;
}

.profile-pic {
 position: relative;
 max-width: 270px;
 max-height: 270px;
 margin-top: -80px;
 right: 80px;
 opacity: 0.95;
}

.brief {
  line-height: 1.5em;
  padding-top: 2%;
  font-size: 110%;
  font-family: $main-font;
  font-weight: 345;

  @media(max-width: 997px) {
    transform: translate(5px);
  }
}

.scroll-indicator {
  position: relative;
  width: 210px;
  height: 210px;
  transform: translate(1em, 8em) rotate(45deg);

  span {
    position: absolute;
    width: 20%;
    height: 20%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    animation: animate 1s linear infinite;

    &:nth-child(1){
      top: -30px;
      left: -30px;
    }

    &:nth-child(2){
      top: -15px;
      left: -15px;
    }
  }

    @media (max-width: 448px) {
      @media (max-width: 375px) {
        transform: translate(3.9em, 8em) rotate(45deg);

        @media (max-width: 330px) {
          transform: translate(2.3em, 8em) rotate(45deg);
          }
        }
      transform: translate(5em, 8em) rotate(45deg);
    }

    @media (min-width: 449px) {
        transform: translate(7em, 8em) rotate(45deg);
    }

    @media (min-width: 500px) {
        transform: translate(8.5em, 8em) rotate(45deg);
    }

    @media (min-width: 564px) {
        transform: translate(10em, 8em) rotate(45deg);
    }

    @media (min-width: 640px) {
        transform: translate(12em, 8em) rotate(45deg);
    }

    @media (min-width: 720px) {
        transform: translate(15em, 8em) rotate(45deg);
    }

    @media (min-width: 820px) {
        transform: translate(16.5em, 8em) rotate(45deg);
    }

    @media (min-width: 875px) {
        transform: translate(20em, 8em) rotate(45deg);
    }

    @media (min-width: 912px) {
        transform: translate(22em, 8em) rotate(45deg);
    }

    @media (min-width: 1000px) {
        transform: translate(-0.4em, 10em) rotate(45deg);
    }
}

@keyframes animate {
  0% {
    border-color: rgb(201, 196, 196);
  }

  100% {
    border-color: rgba(54, 52, 50, 0.842);
  }
}

.about-pic {
  @media (max-width: 700px) {
      max-width: 250px;
      max-height: 250px;
      transform: translate(1em, 4em);
  }

  @media (min-width: 701px) {
      max-width: 300px;
      max-height: 300px;
      transform: translate(4em, 5em);
  }

  @media (min-width: 751px) {
      max-width: 270px;
      max-height: 270px;
      transform: translate(8em, 8em);
  }

  @media (min-width: 820px) {
      max-width: 390px;
      max-height: 390px;
      transform: translate(24em, 5em);
  }

  @media (min-width: 999px) {
      transform: translate(35em, 1.5em)!important;
  }

  @media (min-width: 1102px) {
      transform: translate(42em, 2.5em)!important;
  }

}

.section-b{
  width:100%;
  padding: 5px;
}

.section-c {
  opacity: 0.7;
  padding: 20px;
  margin-top: 50px;

  h3 {
    padding-top: 7px;
    font-size: 185%;
    font-family: $main-font;
    font-weight: 420!important;
   }

  p {
    line-height: 2em;
    padding-top: 15px;
    padding-right: 3px;
    margin-left: 25px;
    font-size: 115%;
    font-weight: 450;


    a {
      text-decoration: none;
      color: rgb(90, 68, 38);

      &:hover{
        color: rgb(153, 133, 106);
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  .grid {
    height: 180vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.7fr 0.6fr;
  }

  .section-a{
    padding: 3px;
    padding-left: 100px;
  }

  .profile-frame {
    margin-top: 100px;
  }

  .brief {
    padding-top: 180px;
    padding-right: 140px;
    padding-left: 15px;
    font-size: 150%;
    font-weight: 350;
    opacity: 0.7;
  }

  .section-c {
    grid-column: 1/3;
    grid-row: 0/2;
    opacity: 0.7;

  h3 {
    margin-top: 50px;
    padding-top: 10%;
    margin-left: 105px;
    font-size: 185%;
    font-weight: 270;
  }

  p {
    line-height: 2em;
    padding-top: 25px;
    padding-right: 90px;
    margin-left: 155px;
    font-size: 130%;
    font-family: $main-font;
    font-weight: 410;
   }
  }
}