.errorMessage {
  color: rgb(235, 30, 30);
  font-size: 0.75em;
  transform: translate(310px, -2em);

  @media (max-width: 420px) {
    transform: translate(10em, 8em);
  }

}

.required {
  color: rgb(235, 30, 30);
}

.contact-title{
  transform: translate(0, 13em);
  @media (min-width: 320px) {
    transform: translate(0, 16em);
  }

  @media (min-width: 656px) {
    transform: translate(0, 19em);
  }

  @media (min-width: 1070px) {
    transform: translate(0, 15em);
  }

}

form {
  font: normal 16px Verdana, Geneva, sans-serif;
  line-height: 1.5em;
  margin-top: 180px;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width:320px) {
    margin-top: 250px;
  }

  @media (min-width: 656px) {
    margin-top: 320px;
  }

  @media (min-width: 1070px) {
    margin-top: 230px;
  }

  p {
    margin-left: 310px;
    text-align: left;
    opacity: 0.9;
    padding-bottom: 50px;
    font-size: 18px;
  }

  .contact-pic {
    max-width: 200px;
    max-height: 200px;
    transform: translate(-10em, 23em);
    @media(max-width: 718px) {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

button {
  padding: 0px;
  text-align: center;
  color: rgba(59, 31, 31, 0.582);
  border: solid 2px rgba(222, 184, 135, 0.623);
  border-radius: 15px 15px!important;
  width: 95px;
  height:40px;
  background: rgba(185, 184, 184, 0.214);;
  margin-top: 30px!important;
  margin-right: 500px!important;
  transition-duration: 170ms;
  position:relative;
  font-weight: 500;

  p {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    margin: auto;
    color: rgb(142, 135, 135);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.582);
  }
}

.form-text {
  width:600px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
}

label {
  opacity: 0.7;
  padding: 5px;
  font-weight: 550;
}

.first-name {
  margin-right: 490px;
  @media (max-width: 769px) {
    white-space: nowrap;
  }
}

.email {
  margin-right: 532px;
}

.subject{
  margin-right: 510px;
}

.last-name{
  margin-right: 491px;
}

.message {
  margin-right: 506px;
}

@media screen and (min-width: 221px) {
  .contact-title{
    margin-top: 480px;
  }

  .form-text {
    width:150px;
  }

  .form-row {
    margin-left: 180px;
    margin-top: -65px;
    opacity: 0.9;
    font-size: 14px;

    p {
      margin-left: -180px;
      margin-right: 420px;
      padding: 50px;
      margin-top: -95px;
      font-size: 12px;
    }
  }
}


@media screen and (min-width: 500px) {
  .form-text {
    width: 250px;
  }
}


@media screen and (min-width: 1042px) {
  .name-1 {
    margin-left: -415px;
  }

  label {
    font-size: 16px;
  }

  .form-text {
    width: 400px;
  }

  .required {
    font-size: 14px!important;
    transform: translate(45px);
  }
}

