$main-font: 'Gotham SSm A','Gotham SSm B',Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  height: 60px;
  box-shadow: 0 4px 4px rgba(10, 0, 0, 0.2);

  .full-name {
    top: 10px;
    font-family: $main-font;
  }

  .menu {

    a { color: rgba(29, 28, 27, 0.714);
      // color: rgb(89, 76, 71); brown colour
      text-decoration: none;
      transition-duration: 170ms;
      &:hover{
        // color: rgba(77, 63, 45, 0.865);
        color: rgb(84, 92, 109);
      }
    }

    li {
      display: inline-block;
      list-style-type: none;
      text-align: center;
      font-family: $main-font;
      font-weight: 400;
    }
  }
}

@media(min-width: 300px) {
  .navigation{

    .full-name {
      font-size: 7.4px;
      letter-spacing: 0.35px;
      margin-left: 20px;
      transform:translate(-5px, 0em);
    }

    .menu {
      margin-left: -22px;
      transform:translate(-8px, 1.3em);

        li {
          font-size: 9.5px;
          padding: -5px;
          padding-left: 4.1px;
        }

        .icon {
          font-size: 20px;
          padding-left: 5px;
        }
    }
  }
}

@media(min-width: 339px) {
.navigation{
  .full-name {
    font-size: 8px;
  }

  .menu {
    li {
      font-size: 9.5px;
      padding-left: 11px;
    }

    .icon {
      font-size: 23px;
    }
  }
 }
}

@media(min-width: 377px) {
  .navigation {
    .full-name {
      font-size: 10px;
    }
  }
}

@media(min-width: 398px) {
 .navigation {
  .full-name {
    font-size: 10px;
    transform: translate(5px);
  }

  .menu {
    li {
      font-size: 9.5px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 3px;
    }

    .icon {
      font-size: 23px;
    }
  }
 }
}

@media(min-width: 455px) {
  .navigation {
    .full-name {
       font-size: 13px;
       margin-left: 7px;
      }
  }
}

@media(min-width: 477px) {
  .navigation {
    .full-name {
      font-size: 15px;
      margin-left: 7px;
    }
  }
}

@media(min-width: 498px) {
  .navigation {
    .full-name {
      font-size: 17px;
      margin-left: 7px;
    }

    .menu {
      li {
        font-size: 9.5px;
        padding-left: 15px;
        padding-right: 12px;
      }

      .icon {
        font-size: 25px;
      }
    }
  }
}

@media(min-width: 573px) {
  .navigation {
    .full-name {
      font-size: 17px;
      margin-left: 7px;
    }

    .menu {
      margin-top: 40px;

      li {
        font-size: 10px;
        padding-right: 20px;
      }

      .icon {
        font-size: 28px;
      }
    }
  }
}

@media(min-width: 573px) {
  .navigation {
    .menu li {
      font-size: 10px;
      padding-right: 24px;
      transform: translate(0px, -2em);
    }
  }
}

@media(min-width: 623px) {
  .navigation {
    .menu li {
      font-size: 10px;
      padding-right: 28px;
    }
  }
}

@media(min-width: 702px) {
  .navigation {
    .full-name {
     transform: translate(10px);
    }

    .menu li {
      font-size: 10px;
      transform: translate(0px, -2em);
      padding-right: 35px;
    }
  }
}

@media(min-width: 1000px) {
  .navigation {
    .full-name {
     transform: translate(32px);
    }

    .menu li {
      font-size: 10px;
      transform: translate(0px, -2em);
      padding-right: 35px;
    }
  }
}
