.projects-title {
  padding-top: 70px;
  margin-left: 105px;

  @media (min-width: 320px) {
    margin-top: 470px;
  }

  @media (min-width: 900px) {
    margin-top: 270px;
  }
}

.spacebook-hr {
  transform: translate(4em, -1em);
  max-width: 190px;
}

.woke-hr, .notes-hr {
  transform: translate(4em, -3em);
  max-width: 190px;
}

.card-a {
  opacity: 0.75;
  margin-right: 55px;
  margin-left: -15px;
  padding: 5px 10px;
  position: absolute;

  @media (min-width: 702px) {
    transform: translate(-0.8em);
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.card-b {
  opacity: 0.75;
  margin-right: 10px;
  padding-top: 5px;
  position: absolute;

  h3 {
    margin-top: 8px;
    margin-bottom: 50px;
  }

  @media (min-width: 652px) {
    transform: translate(1.5em);
  }

  @media (min-width: 666px) {
    transform: translate(-0.5em);
  }
}

.card-c {
  opacity: 0.7;
  margin-right: 10px;
  padding-top: 0px;
  position: absolute;

  h3 {
    margin-top: 14px;
    margin-bottom: 50px;
  }

  @media (min-width: 638px) {
     transform: translate(8.7em);
  }

  @media (min-width: 652px) {
    transform: translate(10.2em);
  }

  @media (min-width: 666px) {
    transform: translate(-0.5em);
  }

  @media (min-width: 1002px) {
    transform: translate(0.6em);
  }

  @media (min-width: 1032px) {
    transform: translate(-3.5em)!important;
  }

  @media (min-width: 1068px) {
    transform: translate(-1em)!important;
  }
}

.column-a {
  padding: 50px 20px;
  position: relative;
  font-weight: 440;

  .sb-video {
    width: 80%;
    height: 40%;
    margin-top: -50px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
   }

   p {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
   }
}

.column-b {
  padding: -70px 20px;
  position: relative;
  font-weight: 440;

  .woke-video {
    width: 80%;
    height: 42%;
    margin-top: -38px;
    margin-bottom: 0px;
    margin-left: -15px;
    padding-top: -50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
   }
}

.column-c {
  padding: 50px 20px;
  position: relative;
  font-weight: 440;

  .notes-video {
    width: 80%;
    height: 40%;
    margin-top: -83px;
    margin-left: 10px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    position:absolute;
   }
}

.spacebook-website,
.spacebook-github,
.woke-github,
.notes-github {
  text-align: center;
  border: solid 2px burlywood;
  border-radius: 15px 15px;
  width: 120px;
  transition-duration: 170ms;
 

    a {
      &:link{
        text-decoration: none!important;
      }
   }

    a p {
      margin-top: 12px;
      font-size: 16px;
      margin: auto;
      color: rgba(59, 31, 31, 0.582);
      transform: translate(0.8px);
      font-weight: 440;
    }

    &:hover {
      background-color: rgba(185, 184, 184, 0.214);
    }
  }

.spacebook-brief{
  margin-top: 170px;
  text-align: left;
}

.woke-brief{
  margin-top: 175px;
  text-align: left;

}

.notes-brief{
    margin-top: 135px;
    margin-left: 20px;
    text-align: left;
  }

.sb-buttons {
  margin-top: 160px;
  transform: translate(0em, 2em);
  margin-left: 147px;


  .spacebook-github {
    margin-left: -138px;
    margin-top: -70px;
  }

  .spacebook-website {
    margin-top:-28px;
  }
}

.woke-github {
  margin-top: 52px;
  margin-left: 45px;
  // transform: translate(0em, 1.4em);
}

.notes-github {
  margin-top: 123px;
  justify-content: center;
  margin-left: 75px;
  // transform: translate(0em, 3.5em);
}

@media (min-width: 320px) {
  .projects-row {
  padding-left: 32px;
  }
}

@media (max-width: 649px) {
  .card-a {
    margin-right: -5px;
    margin-left: -15px;
    padding: 5px 3px;
  }

  .projects-title {
    margin-left: 15px;
  }
}

.coding-pic {
  transform: translate(12em, 8em);
  opacity: 0.7;
  max-width: 310px;
  max-height: 310px;

  @media (min-width: 320px) {
    max-width: 280px;
    max-height: 280px;
    transform: translate(0em, 6em);
  }

  @media (min-width: 634px) {
    transform: translate(0em, 35em);
  }

  @media (min-width: 665px) {
    transform: translate(0em, 15em);
  }

  @media (min-width: 691px) {
    transform: translate(2em, 12em);
  }

  @media (min-width: 700px) {
    transform: translate(2em, 35em);
  }

  @media (min-width: 1000px) {
    max-width: 310px;
    max-height: 310px;
    transform: translate(10em, 35em);
  }

  @media (min-width: 1068px) {
    max-width: 310px;
    max-height: 310px;
    transform: translate(16em, 8em);
  }
}

@media (min-width: 650px) {
  .card-a {
    margin-right: 0px;
    margin-left: 38px;
    padding: 5px 3px;
  }

  .projects-title {
    margin-left: 15px;
  }
}

@media (min-width: 1033px) {
  .projects-title {
    margin-left: 120px;
    transform: translate(0em, 350px);
  }

  .projects-row {
    margin-top: 150px;
    margin-left: 50px!important;
  }

  .card-a {
    transform: translate(-4em);
    padding: 5px 3px;
  }

  .card-b {
    transform: translate(-2em);
    padding: 5px 3px;
  }

  .card-c {
    transform: translate(-1em);
  }
}
