* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  // overflow-x: hidden;
}

.background-pic {
  background-image: url('../src/assets/light-gradient.jpg');
  background-size: cover;
  // background-attachment: fixed;
 }
