.navigation {
  max-width: 100vw;
  margin-right: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  // background-color: rgb(235, 229, 229);
  height: 60px;
  box-shadow: 0 4px 4px rgba(10, 0, 0, 0.2);

  .full-name {
    top: 10px;
  }

  .menu a {

    color: rgba(29, 28, 27, 0.714);
    // color: rgb(89, 76, 71); brown colour
    text-decoration: none;
    transition-duration: 170ms;
    &:hover{
      // color: rgba(77, 63, 45, 0.865);
      color: rgb(84, 92, 109);
    }
  }

  .menu li {
    display: inline-block;
    list-style-type: none;
  }

}

@media(min-width: 300px) {
  .navigation{

    .full-name {
      font-size: 7.4px;
      letter-spacing: 0.35px;
      margin-left: 20px;
    }

    .menu li {
      display: inline-block;
      list-style-type: none;
    }

    .menu {
      margin-top: 50px;
    }

    .menu li {
      font-size: 10px;
      padding: -5px;
      padding-left: 3px;
      text-align: center;
    }

    .menu .icon {
      font-size: 20px;
      padding-left: 5px;
    }

  }

}

@media(min-width: 339px) {
.navigation{
  .full-name {
    font-size: 8px; 
  }

  .menu li {
    font-size: 9.5px; 
    padding-left: 11px;
  }

  .menu .icon {
    font-size: 23px;
  }
}
}

@media(min-width: 377px) {
  .navigation{
    .full-name {
      font-size: 10px; 
    }
  }
  }

  @media(min-width: 398px) {
  .navigation{
    .full-name {
      font-size: 10px;
      margin-left: 7px;
    }
    .menu li {
      font-size: 9.5px; 
      padding-left: 15px;
      padding-right: 8px;
    }
  
    .menu .icon {
      font-size: 23px;
    }
    }
  }


  @media(min-width: 455px) {
    .navigation{
      .full-name {
        font-size: 13px;
        margin-left: 7px;
      }
      }
    }

  @media(min-width: 477px) {
    .navigation{
      .full-name {
        font-size: 15px;
        margin-left: 7px;
      }
      }
    }

  @media(min-width: 498px) {
    .navigation{
      .full-name {
        font-size: 17px;
        margin-left: 7px;
      }
      .menu li {
        font-size: 9.5px; 
        padding-left: 15px;
        padding-right: 15px;
      }
    
      .menu .icon {
        font-size: 25px;
      }
      }
    }

  @media(min-width: 573px) {
    .navigation{
      .full-name {
        font-size: 17px;
        margin-left: 7px;
      }

      .menu {
        margin-top: 40px;
      }

      .menu li {
        font-size: 10px; 
        padding-right: 20px;
      }

      .menu .icon {
        font-size: 28px;
      }
      }
    }

    @media(min-width: 573px) {
      .navigation{
        .menu li {
          font-size: 10px; 
          padding-right: 24px;
        }
        }

    }

    @media(min-width: 623px) {
      .navigation{
        .menu li {
          font-size: 10px; 
          padding-right: 28px;
        }
        }

    }

    @media(min-width: 702px) {
      .navigation{
        .menu li {
          font-size: 10px; 
          padding-right: 35px;
        }
        }

    }

    @media(min-width: 702px) {
      .navigation{
        .menu li {
          font-size: 10px; 
          padding-right: 45px;
        }
        }

    }
