form {
  /* font-weight, font-size, font-family in one line */
  font: normal 16px Verdana, Geneva, sans-serif;
  line-height: 1.5em;
  width: 25%;
  /* sets an auto margin on each sid */
  margin: auto;
  margin-bottom: 25px;
}