.bg {
  opacity: 0.7;
}

.title {
  padding-top: 7px;
  font-size: 185%;
  font-weight: 250;
  margin-left: 105px;
}

.column {
  max-width: 320px;
  margin-bottom: 12px;
  flex: 25%;
  padding: 10px 50px;
  box-sizing: border-box;
}

.row {
  max-width: 1100px;
  text-align: center;
  padding: 20px;
  padding-left: 200px;
  display: block;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(241, 222, 222, 0.2);
  padding: 5px;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  opacity: 0.9;

  ul {
    line-height: 3em;
  }

  li {
    list-style-type: none;
  }

  h3 {
    padding-top: 7px;
    font-size: 130%;
    font-weight: 270;
  }

  p {
    font-size: 18px;
  }
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    flex: 100%;
    display: block;
  }

  .title {
    margin-left: 15px;
  }

  .row {
    text-align: center;
    padding: 20px;
    margin-left: 20px;
  }

}

@media (max-width: 689px) {
  .row {
    margin-left: 10px;
  }

}

@media (max-width: 700px) {
  .row {
    margin-left: 5px;
  }

}

@media (max-width: 980px) {
  .row {
    padding-left: 5px;
  }

}

@media (max-width: 986px) {
  .title {
    margin-left: 20px;
  }

  .row {
    margin-left: 10px;
  }

}

@media (max-width: 999px) {
  .title {
    margin-left: 17px;
  }

  .row {
    padding-left: 10px;
  }

}

@media (min-width: 1000px) {

  .title {
    margin-left: 110px;
  }

  .row {
    padding: 30px;
    margin-left: 30px;
    padding-left: 150px;
  }

}

@media (min-width: 1004px) {

  .row {
    padding-left: 130px;
  }

}

@media (min-width: 1200px) {

  .row {
    padding-left: 210px;
  }

}
