footer {
  margin-top: 190px;
  max-width: 100vw;
  height: 300px;
  background: rgba(126, 155, 173, 0.486);
  box-shadow: 0 20px 20px rgba(47, 114, 145, 0.2);

  hr {
    width:35%;
  }

  p {
   text-align: center;
  }

  .footer-menu {
    .contact {
      padding-top: 90px;
      margin-right: 440px;
      position:relative;
    }

    .github {
      margin-top: -75px;
      margin-right: 50px;
      position:relative;
    }

    .linkedin {
      margin-top: -75px;
      margin-right: -350px;
      position:relative;
    }

    li {
      list-style-type: none;
      text-align: center;
    }

    a {
      color: rgba(29, 28, 27, 0.714);
      text-decoration: none;
      transition-duration: 170ms;

      &:hover {
        color: rgb(84, 92, 109);
      }
    }

    p {
      font-size: 10px;
    }

    .icon {
      font-size: 45px;
    }
  }
}


@media (max-width: 365px) {

  .contact {
    margin-top: -5px;
    right: -20px;
  }

  .github {
    right: -10px;
  }

  .linkedin {
    left: -100px;
  }
}

@media (max-width: 375px) {

  .contact {
    margin-top: -5px;
    right: -35px;
  }

  .github {
    right: -10px;
  }

  .linkedin {
    left: -100px;
  }
}


@media (max-width: 417px) {

  .contact {
    margin-top: -5px;
    right: -35px;
  }

  .github {
    right: -10px;
  }

  .linkedin {
    left: -80px;
  }
}


@media (max-width: 420px) {

  .contact {
    margin-top: -5px;
    right: -20px;
  }

  .github {
    right: -10px;
  }

  .linkedin {
    left: -80px;
  }
}
