// .projects-icon {
//   font-size: 100px;
//   margin-left:  590px;
//   color: rgba(243, 229, 202, 0.966);
//   color: rgba(243, 229, 202, 0.295);
// }

.projects-title {
  padding-top: 70px;
  font-size: 185%;
  font-weight: 250;
  margin-left: 105px;
}

.card-a {
  opacity: 0.8;
  // background: pink;
  margin-right: 55px;
  margin-left: -15px;
  padding: 5px 10px;
  position: absolute;
  // box-shadow: 2px 2px 15px 6px rgba(214, 54, 81, 0.562);

  h3 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.card-b {
  opacity: 0.8;
  margin-right: 10px;
  padding-top: 5px;
  position: absolute;

  h3 {
    margin-top: 8px;
    margin-bottom: 50px;
  }
}

.card-c {
  opacity: 0.8;
  margin-right: 10px;
  padding-top: 0px;
  position: absolute;
  h3 {
    margin-top: 7px;
    margin-bottom: 50px;
  }
}

.column-a {
  // background: rgba(255, 192, 203, 0.712); 
  padding: 50px 20px;
  position: relative;

  .sb-video {
    width: 80%;
    height: 40%;
    margin-top: -50px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
   }

   p {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
   }
}

.column-b {
  // background: rgba(255, 192, 203, 0.507);
  padding: -70px 20px;
  position: relative;

  .woke-video {
    width: 80%;
    height: 40%;
    margin-top: -38px;
    margin-bottom: 0px;
    margin-left: -15px;
    padding-top: -50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
   }
}

.column-c {
  // background: rgba(255, 192, 203, 0.692);
  padding: 50px 20px;
  position: relative;

  .notes-video {
    width: 80%;
    height: 35%;
    margin-top: -50px;
    margin-left: 10px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    position:absolute;
   }
}

.spacebook-website,
.spacebook-github,
.woke-github,
.notes-github {
  text-align: center;
  border: solid 2px burlywood;
  border-radius: 15px 15px;
  width: 120px;
  transition-duration: 170ms;

    a {
      &:link{
        text-decoration: none!important;
      }
   }

    a p {
      margin-top: 12px;
      font-weight: 500;
      font-size: 16px;
      margin: auto;
      color: rgb(142, 135, 135);
    }

    &:hover {
      background-color: rgba(185, 184, 184, 0.214);
    }
  }

.spacebook-brief{
  margin-top: 170px;
  text-align: left;
}

.woke-brief{
  margin-top: 175px;
  text-align: left;

}

.notes-brief{
    margin-top: 150px;
    margin-left: 20px;
    text-align: left;
  }

.sb-buttons {
  margin-top: 160px;
  margin-left: 147px;


  .spacebook-github {
    margin-left: -138px;
    margin-top: -70px;
  }

  .spacebook-website {
    margin-top:-28px;
  }
}

.woke-github {
  margin-top: 30px;
  margin-left: 45px;
}

.notes-github {
  margin-top: 80px;
  justify-content: center;
  margin-left: 75px;
}

@media (max-width: 649px) {
  .card-a {
    margin-right: -5px;
    margin-left: -15px;
    padding: 5px 3px;
  }

  .projects-title {
    margin-left: 15px;
  }
}

@media (min-width: 650px) {
  .card-a {
    margin-right: 0px;
    margin-left: 38px;
    padding: 5px 3px;
  }

  .projects-title {
    margin-left: 15px;
  }
}

@media (min-width: 1033px) {
  .projects-title {
    margin-left: 120px;
  }
}
